{
  "openapi": "3.0.1",
  "info": {
    "title": "API para integração com as aplicações Magis5",
    "description": "A especificação OpenAPI é um formato de definição independente de idioma usado para descrever APIs RESTful. O documento Swagger é o equivalente da API REST de um documento WSDL para um serviço da Web baseado em SOAP. O documento Swagger especifica a lista de recursos disponíveis na API REST e as operações que podem ser chamadas nesses recursos. O documento Swagger também especifica a lista de parâmetros para uma operação, incluindo o nome e o tipo dos parâmetros, sejam os parâmetros obrigatórios ou opcionais, e informações sobre valores aceitáveis ​​para esses parâmetros. Além disso, o documento Swagger pode incluir o esquema JSON que descreve a estrutura do corpo da solicitação que é enviada para uma operação em uma API REST, e o esquema JSON descreve a estrutura de qualquer corpo de resposta retornado de uma operação. Para esta API, você deve usar a `X-MAGIS5-APIKEY` como chave api para testar os filtros de autorização.",
    "contact": {
      "name": "Magis5",
      "url": "https://magis5.com.br",
      "email": "vitor.lima@magis5.com.br"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://app.magis5.com.br/v1",
      "description": "Produção"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Ads",
      "description": "WebService com endpoints de classe de Anúncios"
    },
    {
      "name": "Label",
      "description": "Endpoint responsável por disponibilizar as etiquetas geradas para cada pedido. <br>As etiquetas ficam acessíveis para download e utilização por um período máximo de 7 dias a partir da sua geração."
    },
    {
      "name": "Variations",
      "description": "Criação, consulta e atualização de produtos com suas combinações de variação"
    },
    {
      "name": "Product",
      "description": "WebService com endpoints de classe de Produto"
    },
    {
      "name": "Order Marketplace",
      "description": "WebService com endpoints de pedido consultados diretamente no marketplace"
    },
    {
      "name": "Invoice",
      "description": "WebService com endpoints de classe de Nota Fiscal"
    },
    {
      "name": "Channels",
      "description": "WebService com endpoints de classe de canais de venda"
    },
    {
      "name": "Fila de Operadores Logísticos",
      "description": "Consulte e confirme o processamento de pedidos enviados aos operadores logísticos"
    },
    {
      "name": "Fulfillment",
      "description": "WebService com endpoints de classe de Nota Fiscal"
    },
    {
      "name": "ProductFiscal",
      "description": "WebService com endpoints de dados fiscais do Produto"
    },
    {
      "name": "Provider",
      "description": "WebService com endpoints de classe de Fornecedor"
    },
    {
      "name": "Order",
      "description": "WebService com endpoints de classe de Pedido"
    },
    {
      "name": "Callback",
      "description": "WebService com endpoints de classe de Callback de Estoque"
    },
    {
      "name": "Health",
      "description": "WebService com endpoint para verificar status da API"
    },
    {
      "name": "Order Queue",
      "description": "WebService com endpoints de classe de Pedido no estado de Queue"
    },
    {
      "name": "User",
      "description": "WebService com endpoints de classe de Usuário"
    },
    {
      "name": "Order detail required",
      "description": "Endpoints responsáveis por listar todos os pedidos que possuem atributos adicionais a serem informados antes da emissão da nota fiscal.  <br>Os pedidos permanecerão disponíveis para consulta por um período máximo de 15 dias a partir da sua criação. <br>Essa funcionalidade só está disponível para Mercado Livre e clientes selecionados."
    }
  ],
  "paths": {
    "/variations/{sku}": {
      "get": {
        "tags": [
          "Variations"
        ],
        "summary": "Consultar um produto com variações pelo SKU",
        "description": "Retorna o produto principal, suas combinações de variação, imagens, categorias, atributos, marketplaces e situação de publicação para o SKU informado.",
        "operationId": "getVariationProductBySku",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "SKU do produto com variações. Para um SKU que contenha /, substitua a barra por @@@@@@@",
            "required": true,
            "schema": {
              "type": "string",
              "example": "EXAMPLE-PARENT"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Produto com variações encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "O SKU informado é inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "example": {
                  "error": "SKU não pode ser vazio"
                }
              }
            }
          },
          "401": {
            "description": "A autenticação não foi informada, é inválida ou o cliente está desativado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado para o cliente autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "example": {
                  "error": "Register not found"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a solicitação devido a uma falha inesperada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "503": {
            "description": "O serviço necessário para concluir a consulta está temporariamente indisponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Variations"
        ],
        "summary": "Atualizar um produto com variações pelo SKU",
        "description": "Substitui o produto e suas coleções pelo conteúdo completo enviado. Variações, categorias, atributos e imagens omitidos são removidos. Para preservar uma imagem existente, envie id, URL atual, order e action MOVE; para adicionar uma imagem, use NEW com Data URL Base64 ou IMPORTED com URL pública. O SKU da URL identifica o produto e é autoritativo. O sku no corpo é opcional, mas, quando informado, deve coincidir com o SKU da URL. O id no corpo também é opcional e, quando informado, deve pertencer ao produto localizado.",
        "operationId": "updateVariationProductBySku",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "SKU do produto com variações. Para um SKU que contenha /, substitua a barra por @@@@@@@",
            "required": true,
            "schema": {
              "type": "string",
              "example": "EXAMPLE-PARENT"
            }
          }
        ],
        "requestBody": {
          "description": "Representação completa do produto, das variações e das imagens no formato da tela da Magis5. O sku e o id do produto principal podem ser omitidos",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              },
              "examples": {
                "Atualização completa fictícia": {
                  "description": "Atualização completa fictícia",
                  "value": {
                    "sku": "EXAMPLE-PARENT",
                    "title": "Produto de exemplo atualizado",
                    "price": 89.9,
                    "condition": "NEW",
                    "brand": "Marca Exemplo",
                    "model": "Modelo Exemplo",
                    "description": "Produto fictício atualizado para demonstrar a substituição completa",
                    "dimension": {
                      "height": 2,
                      "width": 20,
                      "length": 30,
                      "weight": 0.3
                    },
                    "warranty": 90,
                    "crossdocking": 0,
                    "marketplaceIds": [],
                    "categories": [],
                    "attributes": [],
                    "variations": [
                      {
                        "id": 98765,
                        "sku": "EXAMPLE-BLUE",
                        "ean": 2001234567893,
                        "price": 89.9,
                        "stock": 15,
                        "active": true,
                        "attributes": [
                          {
                            "id": "COLOR",
                            "name": "Cor",
                            "valueId": "BLUE",
                            "valueName": "Azul"
                          }
                        ]
                      },
                      {
                        "sku": "EXAMPLE-GREEN",
                        "ean": 2001234567916,
                        "price": 89.9,
                        "stock": 8,
                        "active": true,
                        "attributes": [
                          {
                            "id": "COLOR",
                            "name": "Cor",
                            "valueId": "GREEN",
                            "valueName": "Verde"
                          }
                        ]
                      }
                    ],
                    "images": [
                      {
                        "id": 456,
                        "image": "https://example.com/images/example-blue-product.jpg",
                        "order": 0,
                        "action": "MOVE",
                        "attribute": {
                          "name": "Cor",
                          "valueName": "Azul"
                        }
                      },
                      {
                        "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAusB9Y9ZQmcAAAAASUVORK5CYII=",
                        "order": 1,
                        "action": "NEW",
                        "attribute": {
                          "name": "Cor",
                          "valueName": "Verde"
                        }
                      },
                      {
                        "image": "https://example.com/images/example-green-product.jpg",
                        "order": 2,
                        "action": "IMPORTED",
                        "attribute": {
                          "name": "Cor",
                          "valueName": "Verde"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Produto com variações atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          },
          "400": {
            "description": "O conteúdo enviado ou o SKU é inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "example": {
                  "error": "Produto inválido."
                }
              }
            }
          },
          "401": {
            "description": "A autenticação não foi informada, é inválida ou o cliente está desativado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado para o cliente autenticado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "example": {
                  "error": "Register not found"
                }
              }
            }
          },
          "415": {
            "description": "O conteúdo deve ser enviado como application/json",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a solicitação devido a uma falha inesperada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "503": {
            "description": "O serviço necessário para concluir a atualização está temporariamente indisponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/products/{sku}": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Obter um produto pelo SKU",
        "description": "Obtenha um produto pelo código SKU",
        "operationId": "getProductBySku",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Sku do produto a ser pesquisado",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "enableLink",
            "in": "query",
            "description": "Retorna links",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseProductApi"
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o sku informado não é encontrado": {
                    "summary": "Produto não encontrado",
                    "description": "Exemplo de erro quando o sku informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Product"
        ],
        "summary": "Atualizar um produto pelo SKU",
        "description": "Atualize um produto pelo código SKU",
        "operationId": "putProductBySku",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "SKU principal ou alternativo do produto a ser atualizado",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "requestBody": {
          "description": "Objeto para atualização de um produto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestEditProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseProductApi"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida, verifique o JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o JSON informado é inválido": {
                    "summary": "JSON inválido",
                    "description": "Exemplo de erro quando o JSON informado é inválido",
                    "value": {
                      "error": "Invalid RequestBody"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "default": "##default"
                },
                "examples": {
                  "Exemplo de erro quando o JSON contém um campo desconhecido": {
                    "summary": "Campo desconhecido",
                    "description": "Exemplo de erro quando o JSON contém um campo desconhecido",
                    "value": "Unrecognized field ..."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o sku informado não é encontrado": {
                    "summary": "Produto não encontrado",
                    "description": "Exemplo de erro quando o sku informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Product"
        ],
        "summary": "Atualizar alguns campos do produto pelo SKU",
        "description": "Atualize alguns campos do produto pelo código SKU",
        "operationId": "patchProductBySku",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "SKU principal ou alternativo do produto a ser atualizado",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "requestBody": {
          "description": "Objeto para atualização de alguns campos do produto",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestEditProduct"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseProductApi"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida, verifique o JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o JSON informado é inválido": {
                    "summary": "JSON inválido",
                    "description": "Exemplo de erro quando o JSON informado é inválido",
                    "value": {
                      "error": "Invalid RequestBody"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "default": "##default"
                },
                "examples": {
                  "Exemplo de erro quando o JSON contém um campo desconhecido": {
                    "summary": "Campo desconhecido",
                    "description": "Exemplo de erro quando o JSON contém um campo desconhecido",
                    "value": "Unrecognized field ..."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o sku informado não é encontrado": {
                    "summary": "Produto não encontrado",
                    "description": "Exemplo de erro quando o sku informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/orders/{completeOrderNumber}": {
      "get": {
        "tags": [
          "Order"
        ],
        "summary": "Obter um pedido pelo código",
        "description": "Obtenha um pedido pelo código",
        "operationId": "getOrderByCompleteOrderNumber",
        "parameters": [
          {
            "name": "completeOrderNumber",
            "in": "path",
            "description": "Código do pedido a ser pesquisado",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "enableLink",
            "in": "query",
            "description": "Retorna links",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOrderApi"
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pedido não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o pedido informado não é encontrado": {
                    "summary": "Pedido não encontrado",
                    "description": "Exemplo de erro quando o pedido informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Order"
        ],
        "summary": "Atualizar um pedido pelo código",
        "description": "Atualize um pedido pelo código",
        "operationId": "putOrderByCompleteOrderNumber",
        "parameters": [
          {
            "name": "completeOrderNumber",
            "in": "path",
            "description": "Código do pedido a ser atualizado",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "requestBody": {
          "description": "Objeto para atualização de um pedido. Rastreio e etiquetas podem ser enviados sem alterar o status. Para associar etiquetas, informe URLs HTTP/HTTPS; o formato PDF, ZPL ou TXT será identificado pelo conteúdo de cada arquivo. Quando a identificação não for possível, o campo type será usado como fallback.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestEditOrder"
              },
              "examples": {
                "Atualizar rastreio e etiqueta": {
                  "summary": "Rastreio e etiqueta PDF sem alterar o status",
                  "description": "Atualizar rastreio e etiqueta",
                  "value": {
                    "shipping": {
                      "shipping_number": "36b8097942d",
                      "shipping_url": "https://tracking.example/36b8097942d"
                    },
                    "tags": [
                      {
                        "url": "https://example.com/shipping-label.pdf",
                        "type": "pdf"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOrderApi"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida, verifique o JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o status do pedido está aguardando logística": {
                    "summary": "Status 'Aguardando Logística' (Shopee)",
                    "description": "Exemplo de erro quando o status do pedido está aguardando logística",
                    "value": {
                      "error": "Não é possível mudar o status de um pedido shopee quando está aguardando logística. Aguarde até que o pedido vá para separação automaticamente."
                    }
                  },
                  "Exemplo de erro quando a chave da nota está inválida": {
                    "summary": "Chave NF inválida",
                    "description": "Exemplo de erro quando a chave da nota está inválida",
                    "value": {
                      "error": "A chave da nota fiscal deve ter 44 dígitos"
                    }
                  },
                  "Exemplo de erro quando o status está como pendente": {
                    "summary": "Status 'Pendente'",
                    "description": "Exemplo de erro quando o status está como pendente",
                    "value": {
                      "error": "Pedidos no status de pendência devem ser colocados no status de aprovado para que sejam processados de forma correta"
                    }
                  },
                  "Exemplo de erro quando o pedido está sendo processado": {
                    "summary": "Status 'Processando'",
                    "description": "Exemplo de erro quando o pedido está sendo processado",
                    "value": {
                      "error": "Este pedido ainda está sendo processado, não é possível atualizá-lo neste momento."
                    }
                  },
                  "Exemplo de erro quando tenta enviar um pedido fullfillment para separação": {
                    "summary": "Fulfillment para separação",
                    "description": "Exemplo de erro quando tenta enviar um pedido fullfillment para separação",
                    "value": {
                      "error": "Não é possível enviar um pedido fulfillment para separação."
                    }
                  },
                  "Exemplo de erro quando o status enviado é inválido": {
                    "summary": "Status Inválido",
                    "description": "Exemplo de erro quando o status enviado é inválido",
                    "value": {
                      "error": "Status do pedido inválido."
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "default": "##default"
                },
                "examples": {
                  "Exemplo de erro quando o json informado é inválido": {
                    "summary": "Json inválido",
                    "description": "Exemplo de erro quando o json informado é inválido",
                    "value": "Unrecognized field ..."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pedido não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o pedido informado não é encontrado": {
                    "summary": "Pedido não encontrado",
                    "description": "Exemplo de erro quando o pedido informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Order"
        ],
        "summary": "Atualizar alguns campos do pedido pelo código",
        "description": "Atualize alguns campos do pedido pelo código",
        "operationId": "patchOrderByCompleteOrderNumber",
        "parameters": [
          {
            "name": "completeOrderNumber",
            "in": "path",
            "description": "Código do pedido a ser atualizado",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "requestBody": {
          "description": "Objeto para atualização de alguns campos do pedido. Rastreio e etiquetas podem ser enviados sem alterar o status. Para associar etiquetas, informe URLs HTTP/HTTPS; o formato PDF, ZPL ou TXT será identificado pelo conteúdo de cada arquivo. Quando a identificação não for possível, o campo type será usado como fallback.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestEditOrder"
              },
              "examples": {
                "Atualizar rastreio e etiqueta": {
                  "summary": "Rastreio e etiqueta PDF sem alterar o status",
                  "description": "Atualizar rastreio e etiqueta",
                  "value": {
                    "shipping": {
                      "shipping_number": "36b8097942d",
                      "shipping_url": "https://tracking.example/36b8097942d"
                    },
                    "tags": [
                      {
                        "url": "https://example.com/shipping-label.pdf",
                        "type": "pdf"
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOrderApi"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida, verifique o JSON",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o json informado é inválido": {
                    "summary": "Json inválido",
                    "description": "Exemplo de erro quando o json informado é inválido",
                    "value": {
                      "error": "Invalid RequestBody"
                    }
                  },
                  "Exemplo de erro quando o status do pedido está aguardando logística": {
                    "summary": "Status 'Aguardando Logística'",
                    "description": "Exemplo de erro quando o status do pedido está aguardando logística",
                    "value": {
                      "error": "Não é possível mudar o status de um pedido shopee quando está aguardando logística. Aguarde até que o pedido vá para separação automaticamente."
                    }
                  },
                  "Exemplo de erro quando a chave da nota está inválida": {
                    "summary": "Chave NF inválida",
                    "description": "Exemplo de erro quando a chave da nota está inválida",
                    "value": {
                      "error": "A chave da nota fiscal deve ter 44 dígitos"
                    }
                  },
                  "Exemplo de erro quando o status está como pendente": {
                    "summary": "Status 'Pendente'",
                    "description": "Exemplo de erro quando o status está como pendente",
                    "value": {
                      "error": "Pedidos no status de pendência devem ser colocados no status de aprovado para que sejam processados de forma correta"
                    }
                  },
                  "Exemplo de erro quando o pedido está sendo processado": {
                    "summary": "Status 'Processando'",
                    "description": "Exemplo de erro quando o pedido está sendo processado",
                    "value": {
                      "error": "Este pedido ainda está sendo processado, não é possível atualizá-lo neste momento."
                    }
                  },
                  "Exemplo de erro quando tenta enviar um pedido fullfillment para separação": {
                    "summary": "Fulfillment para separação",
                    "description": "Exemplo de erro quando tenta enviar um pedido fullfillment para separação",
                    "value": {
                      "error": "Não é possível enviar um pedido fulfillment para separação."
                    }
                  },
                  "Exemplo de erro quando o status enviado é inválido": {
                    "summary": "Status Inválido",
                    "description": "Exemplo de erro quando o status enviado é inválido",
                    "value": {
                      "error": "Status do pedido inválido."
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "default": "##default"
                },
                "examples": {
                  "Exemplo de erro quando o json informado é inválido": {
                    "summary": "Json inválido",
                    "description": "Exemplo de erro quando o json informado é inválido",
                    "value": "Unrecognized field ..."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Pedido não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o pedido informado não é encontrado": {
                    "summary": "Pedido não encontrado",
                    "description": "Exemplo de erro quando o pedido informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/callbacks/stocks": {
      "put": {
        "tags": [
          "Callback"
        ],
        "summary": "Callback de estoque",
        "description": "Callback de estoque",
        "operationId": "putCallbackStockByCustomer",
        "requestBody": {
          "description": "Objeto callback",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestCallback"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida, verifique o JSON",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "default": "##default"
                },
                "examples": {
                  "Exemplo de erro quando o json informado é inválido": {
                    "summary": "Json inválido",
                    "description": "Exemplo de erro quando o json informado é inválido",
                    "value": "Unrecognized field ..."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/ads/prices/{sku}": {
      "put": {
        "tags": [
          "Ads"
        ],
        "summary": "Atualizar o preço de anúncios por SKU",
        "description": "Atualize o preço de anúncios por SKU",
        "operationId": "putProductOnChannelBySkuAlterPrice",
        "parameters": [
          {
            "name": "sku",
            "in": "path",
            "description": "Sku do produto a ser pesquisado para alteração do preço",
            "required": true,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "requestBody": {
          "description": "Objeto com o novo preço a ser aplicado por SKU",
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "additionalProperties": {
                  "default": "##default"
                },
                "default": "##default"
              },
              "examples": {
                "Exemplo de JSON na requisição": {
                  "summary": "JSON válido",
                  "description": "Exemplo de JSON na requisição",
                  "value": {
                    "ads": [
                      {
                        "channel": "string",
                        "channelId": "string",
                        "variationId": "string",
                        "price": 0
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Requisição inválida, verifique o JSON",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "default": "##default"
                },
                "examples": {
                  "Exemplo de erro quando o json informado é inválido": {
                    "summary": "Json inválido",
                    "description": "Exemplo de erro quando o json informado é inválido",
                    "value": "Unrecognized field ..."
                  }
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o token não é fornecido no Header da requisição": {
                    "summary": "Token requerido",
                    "description": "Exemplo de erro quando o token não é fornecido no Header da requisição",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is required"
                    }
                  },
                  "Exemplo de erro quando o token fornecido é inválido": {
                    "summary": "Token inválido",
                    "description": "Exemplo de erro quando o token fornecido é inválido",
                    "value": {
                      "error": "X-MAGIS5-APIKEY is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Produto não encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando o sku informado não é encontrado": {
                    "summary": "Produto não encontrado",
                    "description": "Exemplo de erro quando o sku informado não é encontrado",
                    "value": {
                      "error": "Register not found"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/variations": {
      "get": {
        "tags": [
          "Variations"
        ],
        "summary": "Listar produtos com variações",
        "description": "Retorna os produtos com variações do cliente autenticado em páginas. Use page para avançar entre as páginas e limit para definir a quantidade de itens retornados.",
        "operationId": "listVariationProducts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Quantidade de produtos por página, limitada a 50",
            "required": false,
            "schema": {
              "pattern": "^[0-9]+$",
              "type": "string",
              "default": "50"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Número da página a ser retornada, iniciando em 1",
            "required": false,
            "schema": {
              "pattern": "^[0-9]+$",
              "type": "string",
              "default": "1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista paginada retornada com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsList"
                }
              }
            }
          },
          "401": {
            "description": "A autenticação não foi informada, é inválida ou o cliente está desativado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a solicitação devido a uma falha inesperada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "503": {
            "description": "O serviço necessário para concluir a listagem está temporariamente indisponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Variations"
        ],
        "summary": "Criar um produto com variações",
        "description": "Envie os dados do produto principal e de cada combinação de variação. Imagens novas podem ser enviadas como Data URL Base64 e imagens já hospedadas como URL pública. A resposta informa o identificador criado para consultas e operações posteriores.",
        "operationId": "createVariationProduct",
        "requestBody": {
          "description": "Produto principal, combinações de variação e imagens no mesmo formato usado pela tela da Magis5",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductRequest"
              },
              "examples": {
                "Produto fictício com cores": {
                  "description": "Produto fictício com cores",
                  "value": {
                    "sku": "EXAMPLE-PARENT",
                    "title": "Produto de exemplo com variações de cor",
                    "price": 79.9,
                    "condition": "NEW",
                    "brand": "Marca Exemplo",
                    "model": "Modelo Exemplo",
                    "description": "Produto fictício utilizado somente para demonstrar o formato da integração",
                    "dimension": {
                      "height": 2,
                      "width": 20,
                      "length": 30,
                      "weight": 0.3
                    },
                    "warranty": 90,
                    "crossdocking": 0,
                    "marketplaceIds": [],
                    "categories": [],
                    "attributes": [],
                    "variations": [
                      {
                        "sku": "EXAMPLE-BLUE",
                        "ean": 2001234567893,
                        "price": 79.9,
                        "stock": 10,
                        "active": true,
                        "attributes": [
                          {
                            "id": "COLOR",
                            "name": "Cor",
                            "valueId": "BLUE",
                            "valueName": "Azul"
                          }
                        ]
                      },
                      {
                        "sku": "EXAMPLE-BLACK",
                        "ean": 2001234567909,
                        "price": 79.9,
                        "stock": 10,
                        "active": true,
                        "attributes": [
                          {
                            "id": "COLOR",
                            "name": "Cor",
                            "valueId": "BLACK",
                            "valueName": "Preto"
                          }
                        ]
                      },
                      {
                        "sku": "EXAMPLE-WHITE",
                        "ean": 2001234567916,
                        "price": 79.9,
                        "stock": 10,
                        "active": true,
                        "attributes": [
                          {
                            "id": "COLOR",
                            "name": "Cor",
                            "valueId": "WHITE",
                            "valueName": "Branco"
                          }
                        ]
                      }
                    ],
                    "images": [
                      {
                        "image": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/x8AAusB9Y9ZQmcAAAAASUVORK5CYII=",
                        "order": 0,
                        "action": "NEW"
                      },
                      {
                        "image": "https://example.com/images/example-black-product.jpg",
                        "order": 1,
                        "action": "IMPORTED",
                        "attribute": {
                          "name": "Cor",
                          "valueName": "Preto"
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Produto com variações criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VariationCreationResponse"
                },
                "example": {
                  "status": "OK",
                  "id": 12345
                }
              }
            }
          },
          "400": {
            "description": "O conteúdo enviado é inválido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "example": {
                  "error": "Produto inválido."
                }
              }
            }
          },
          "401": {
            "description": "A autenticação não foi informada, é inválida ou o cliente está desativado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "415": {
            "description": "O conteúdo deve ser enviado como application/json",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Não foi possível concluir a solicitação devido a uma falha inesperada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          },
          "503": {
            "description": "O serviço necessário para concluir a criação está temporariamente indisponível",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/users/login": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Obter um token",
        "description": "Obtenha um token de acesso para a API do sistema",
        "operationId": "getUserToken",
        "requestBody": {
          "description": "Objeto de Login que você precisa para autenticar",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestLoginUser"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserTokenApi"
                }
              }
            }
          },
          "401": {
            "description": "Sem autorização",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                },
                "examples": {
                  "Exemplo de erro quando 'Usuário' ou 'Senha' informados são inválidos": {
                    "summary": "Usuário e/ou senha inválidos",
                    "description": "Exemplo de erro quando 'Usuário' ou 'Senha' informados são inválidos",
                    "value": {
                      "error": "Invalid username or password."
                    }
                  },
                  "Exemplo de erro quando usuário não tem permissão de usar a API": {
                    "summary": "Usuário sem permissão de usar a API",
                    "description": "Exemplo de erro quando usuário não tem permissão de usar a API",
                    "value": {
                      "error": "This user does not have permission to use API."
                    }
                  },
                  "Exemplo de erro quando usuário está com o cadastro desativado": {
                    "summary": "Usuário desativado",
                    "description": "Exemplo de erro quando usuário está com o cadastro desativado",
                    "value": {
                      "error": "Your account is disabled, please contact our support."
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "503": {
            "description": "Erro interno no servidor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseErrorApi"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Product"
        ],
        "summary": "Obter lista de produtos",
        "description": "Obtenha lista de produtos",
        "operationId": "getAllProducts",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Número total de registros por página",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Página a ser exibida",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "structureType",
            "in": "query",
            "description": "Estrutura retornada, opções: complete, simple",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "dateSearchType",
            "in": "query",
            "description": "Campo data de pesquisa e ordenação, opções: created, lastUpdated",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "timestampFrom",
            "in": "query",
            "description": "Data ínicio (formato UNIX_TIMESTAMP - Seconds) UTC-3",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "timestampTo",
            "in": "query",
            "description": "Data final (formato UNIX_TIMESTAMP - Seconds) UTC-3",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          },
          {
            "name": "enableLink",
            "in": "query",
            "description": "Retorna links",
            "required": false,
            "schema": {
              "type": "string",
              "default": "##default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "default": "##default"
                  },
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ResponsePaginationCompleteProductApi"
                    },
                    {
                      "$ref": "#/components/schemas/ResponsePaginationSimpleProductApi"
                    }
                  ],
                  "default": "##default"
                },
                "examples": {
                  "Schema quando o paramêtro 'StructureType' tem como valor a palavra 'complete'": {
                    "summary": "Schema -> StructureType = complete",
                    "description": "Schema quando o paramêtro 'StructureType' tem como valor a palavra 'complete'",
                    "value": {
                      "next": "string",
                      "products": [
                        {
                          "id": "string",
                          "externalId": "string",
                          "url": "string",
                          "title": "string",
                          "condition": "string",
                          "stock": 0,
                          "cost": 0,
                          "currency": "string",
                          "description": "string",
                          "technicalSpecification": "string",
                          "additionalInformation": "string",
                          "pictures": [
                            {
                              "size": "string",
                              "secure_url": "string",
                              "id": "string",
                              "url": "string",
                              "max_size": "string",
                              "quality": "string",
                              "name": "string",
                              "externalId": "string"
                            }
                          ],
                          "price": 0,
                          "warranty": "string",
                          "business": "string",
                          "ean": "string",
                          "eanInvoice": "string",
                          "height": 0,
                          "weight": 0,
                          "weightGross": 0,
                          "depth": 0,
                          "width": 0,
                          "brand": "string",
                          "model": "string",
                          "ncm": "string",
                          "cest": "string",
                          "origin": 0,
                          "unit": "string",
                          "customerId": 0,
                          "updateStock": true,
                          "channel": "string",
                          "integrationType": "string",
                          "deadlineCrossdocking": 0,
                          "productsBusinessUnit": [
                            {
                              "id": "string",
                              "name": "string",
                              "city": "string",
                              "state": "string",
                              "stock": 0,
                              "stockWithReservation": 0,
                              "reserved": 0,
                              "price": 0,
                              "currency": "string",
                              "unconsidered": "string",
                              "caller": "string"
                            }
                          ],
                          "isImportProduct": true,
                          "note": "string",
                          "youtubeId": "string",
                          "location": "string",
                          "productType": "string",
                          "isVariation": true,
                          "status": "string",
                          "productsComposition": [
                            {
                              "id": 0,
                              "productId": 0,
                              "title": "string",
                              "sku": "string",
                              "pictures": [
                                {
                                  "size": "string",
                                  "secure_url": "string",
                                  "id": "string",
                                  "url": "string",
                                  "max_size": "string",
                                  "quality": "string",
                                  "name": "string",
                                  "externalId": "string"
                                }
                              ],
                              "brand": "string",
                              "quantity": 0,
                              "unitValue": 0,
                              "stock": 0,
                              "percentagePriceValue": 0
                            }
                          ],
                          "warrantyProvider": "string",
                          "quantityItemsSamePackaging": 0,
                          "erpId": "string",
                          "stockFixed": 0,
                          "stockMinimum": 0,
                          "stockProvider": 0,
                          "operationalCost": 0,
                          "percentageProfit": 0,
                          "usePicturesFromFatherVariation": true,
                          "productsCategory": [
                            {
                              "id": 0,
                              "parentId": 0,
                              "getpId": 0,
                              "categoryDescription": "string",
                              "level": 0,
                              "isNew": true,
                              "isEdited": true,
                              "categoryId": "string",
                              "productId": 0,
                              "productDescription": "string"
                            }
                          ],
                          "variations": [
                            {
                              "id": "string",
                              "attribute_combinations": [
                                {
                                  "id": "string",
                                  "attribute_group_id": "string",
                                  "name": "string",
                                  "attribute_group_name": "string",
                                  "value_name": "string",
                                  "value_id": "string",
                                  "tags": {
                                    "allow_variations": true,
                                    "defines_picture": true,
                                    "hidden": true,
                                    "variation_attribute": true,
                                    "read_only": true,
                                    "required": true,
                                    "grid_filter": true,
                                    "grid_template_required": true
                                  },
                                  "attribute_send": true,
                                  "hierarchy": "string",
                                  "relevance": 0,
                                  "value_type": "string",
                                  "value_max_length": 0,
                                  "values": [
                                    {
                                      "id": "string",
                                      "name": "string",
                                      "attributes": [
                                        {
                                          "id": 0,
                                          "value": 0
                                        }
                                      ],
                                      "brandList": [
                                        {
                                          "id": 0
                                        }
                                      ]
                                    }
                                  ],
                                  "allowed_units": [
                                    {
                                      "id": "string",
                                      "name": "string"
                                    }
                                  ],
                                  "descriptionUnit": "string",
                                  "required": true,
                                  "translate_value_name": "string",
                                  "field": {
                                    "text_type": "string"
                                  }
                                }
                              ],
                              "attributes": [
                                {
                                  "id": "string",
                                  "attribute_group_id": "string",
                                  "name": "string",
                                  "attribute_group_name": "string",
                                  "value_name": "string",
                                  "value_id": "string",
                                  "tags": {
                                    "allow_variations": true,
                                    "defines_picture": true,
                                    "hidden": true,
                                    "variation_attribute": true,
                                    "read_only": true,
                                    "required": true,
                                    "grid_filter": true,
                                    "grid_template_required": true
                                  },
                                  "attribute_send": true,
                                  "hierarchy": "string",
                                  "relevance": 0,
                                  "value_type": "string",
                                  "value_max_length": 0,
                                  "values": [
                                    {
                                      "id": "string",
                                      "name": "string",
                                      "attributes": [
                                        {
                                          "id": 0,
                                          "value": 0
                                        }
                                      ],
                                      "brandList": [
                                        {
                                          "id": 0
                                        }
                                      ]
                                    }
                                  ],
                                  "allowed_units": [
                                    {
                                      "id": "string",
                                      "name": "string"
                                    }
                                  ],
                                  "descriptionUnit": "string",
                                  "required": true,
                                  "translate_value_name": "string",
                                  "field": {
                                    "text_type": "string"
                                  }
                                }
                              ],
                              "available_quantity": 0,
                              "changeAvailableQuantity": true,
                              "price": 0,
                              "sold_quantity": 0,
                              "seller_custom_field": "string",
                              "catalog_product_id": "string",
                              "picture_ids": [
                                "string"
                              ],
                              "promotionalPrice": 0,
                              "title": "string",
                              "categoryId": "string",
                              "inventory_id": "string"
                            }
                          ],
                          "productsCode": [
                            {
                              "id": 0,
                              "product": {
                                "id": "string",
                                "externalId": "string",
                                "url": "string",
                                "title": "string",
                                "condition": "string",
                                "stock": 0,
                                "cost": 0,
                                "currency": "string",
                                "description": "string",
                                "technicalSpecification": "string",
                                "additionalInformation": "string",
                                "pictures": [
                                  {
                                    "size": "string",
                                    "secure_url": "string",
                                    "id": "string",
                                    "url": "string",
                                    "max_size": "string",
                                    "quality": "string",
                                    "name": "string",
                                    "externalId": "string"
                                  }
                                ],
                                "price": 0,
                                "warranty": "string",
                                "business": "string",
                                "ean": "string",
                                "eanInvoice": "string",
                                "height": 0,
                                "weight": 0,
                                "weightGross": 0,
                                "depth": 0,
                                "width": 0,
                                "brand": "string",
                                "model": "string",
                                "ncm": "string",
                                "cest": "string",
                                "origin": 0,
                                "unit": "string",
                                "customerId": 0,
                                "updateStock": true,
                                "channel": "string",
                                "integrationType": "string",
                                "deadlineCrossdocking": 0,
                                "productsBusinessUnit": [
                                  {
                                    "id": "string",
                                    "name": "string",
                                    "city": "string",
                                    "state": "string",
                                    "stock": 0,
                                    "stockWithReservation": 0,
                                    "reserved": 0,
                                    "price": 0,
                                    "currency": "string",
                                    "unconsidered": "string",
                                    "caller": "string"
                                  }
                                ],
                                "isImportProduct": true,
                                "note": "string",
                                "youtubeId": "string",
                                "location": "string",
                                "productType": "string",
                                "isVariation": true,
                                "status": "string",
                                "productsComposition": [
                                  {
                                    "id": 0,
                                    "productId": 0,
                                    "title": "string",
                                    "sku": "string",
                                    "pictures": [
                                      {
                                        "size": "string",
                                        "secure_url": "string",
                                        "id": "string",
                                        "url": "string",
                                        "max_size": "string",
                                        "quality": "string",
                                        "name": "string",
                                        "externalId": "string"
                                      }
                                    ],
                                    "brand": "string",
                                    "quantity": 0,
                                    "unitValue": 0,
                                    "stock": 0,
                                    "percentagePriceValue": 0
                                  }
                                ],
                                "warrantyProvider": "string",
                                "quantityItemsSamePackaging": 0,
                                "erpId": "string",
                                "stockFixed": 0,
                                "stockMinimum": 0,
                                "stockProvider": 0,
                                "operationalCost": 0,
                                "percentageProfit": 0,
                                "usePicturesFromFatherVariation": true,
                                "productsCategory": [
                                  {
                                    "id": 0,
                                    "parentId": 0,
                                    "getpId": 0,
                                    "categoryDescription": "string",
                                    "level": 0,
                                    "isNew": true,
                                    "isEdited": true,
                                    "categoryId": "string",
                                    "productId": 0,
                                    "productDescription": "string"
                                  }
                                ],
                                "variations": [
                                  {
                                    "id": "string",
                                    "attribute_combinations": [
                                      {
                                        "id": "string",
                                        "attribute_group_id": "string",
                                        "name": "string",
                                        "attribute_group_name": "string",
                                        "value_name": "string",
                                        "value_id": "string",
                                        "tags": {
                                          "allow_variations": true,
                                          "defines_picture": true,
                                          "hidden": true,
                                          "variation_attribute": true,
                                          "read_only": true,
                                          "required": true,
                                          "grid_filter": true,
                                          "grid_template_required": true
                                        },
                                        "attribute_send": true,
                                        "hierarchy": "string",
                                        "relevance": 0,
                                        "value_type": "string",
                                        "value_max_length": 0,
                                        "values": [
                                          {
                                            "id": "string",
                                            "name": "string",
                                            "attributes": [
                                              {
                                                "id": 0,
                                                "value": 0
                                              }
                                            ],
                                            "brandList": [
                                              {
                                                "id": 0
                                              }
                                            ]
                                          }
                                        ],
                                        "allowed_units": [
                                          {
                                            "id": "string",
                                            "name": "string"
                                          }
                                        ],
                                        "descriptionUnit": "string",
                                        "required": true,
                                        "translate_value_name": "string",
                                        "field": {
                                          "text_type": "string"
                                        }
                                      }
                                    ],
                                    "attributes": [
                                      {
                                        "id": "string",
                                        "attribute_group_id": "string",
                                        "name": "string",
                                        "attribute_group_name": "string",
                                        "value_name": "string",
                                        "value_id": "string",
                                        "tags": {
                                          "allow_variations": true,
                                          "defines_picture": true,
                                          "hidden": true,
                                          "variation_attribute": true,
                                          "read_only": true,
                                          "required": true,
                                          "grid_filter": true,
                                          "grid_template_required": true
                                        },
                                        "attribute_send": true,
                                        "hierarchy": "string",
                                        "relevance": 0,
                                        "value_type": "string",
                                        "value_max_length": 0,
                                        "values": [
                                          {
                                            "id": "string",
                                            "name": "string",
                                            "attributes": [
                                              {
                                                "id": 0,
                                                "value": 0
                                              }
                                            ],
                                            "brandList": [
                                              {
                                                "id": 0
                                              }
                                            ]
                                          }
                                        ],
                                        "allowed_units": [
                                          {
                                            "id": "string",
                                            "name": "string"
                                          }
                                        ],
                                        "descriptionUnit": "string",
                                        "required": true,
                                        "translate_value_name": "string",
                                        "field": {
                                          "text_type": "string"
                                        }
                                      }
                                    ],
                                    "available_quantity": 0,
                                    "changeAvailableQuantity": true,
                                    "price": 0,
                                    "sold_quantity": 0,
                                    "seller_custom_field": "string",
                                    "catalog_product_id": "string",
                                    "picture_ids": [
                                      "string"
                                    ],
                                    "promotionalPrice": 0,
                                    "title": "string",
                                    "categoryId": "string",
                                    "inventory_id": "string"
                                  }
                                ],
                                "productsRootCharacteristic": [
                                  {
                                    "id": 0,
                                    "key": "string",
                                    "name": "string",
                                    "showInExpedition": true,
                                    "addInvoiceNote": true,
                                    "specifications": [
                                      {
                                        "id": 0,
                                        "key": "string",
                                        "value": "string",
                                        "status": "string"
                                      }
                                    ],
                                    "status": "string"
                                  }
                                ],
                                "categories": [
                                  {
                                    "id": "string",
                                    "parentId": "string",
                                    "parId": "string",
                                    "getpId": "string",
                                    "name": "string",
                                    "lastLevel": true,
                                    "isNew": true,
                                    "isEdited": true,
                                    "commission": 0,
                                    "attributes": [
                                      {
                                        "id": "string",
                                        "attribute_group_id": "string",
                                        "name": "string",
                                        "attribute_group_name": "string",
                                        "value_name": "string",
                                        "value_id": "string",
                                        "tags": {
                                          "allow_variations": true,
                                          "defines_picture": true,
                                          "hidden": true,
                                          "variation_attribute": true,
                                          "read_only": true,
                                          "required": true,
                                          "grid_filter": true,
                                          "grid_template_required": true
                                        },
                                        "attribute_send": true,
                                        "hierarchy": "string",
                                        "relevance": 0,
                                        "value_type": "string",
                                        "value_max_length": 0,
                                        "values": [
                                          {
                                            "id": "string",
                                            "name": "string",
                                            "attributes": [
                                              {
                                                "id": 0,
                                                "value": 0
                                              }
                                            ],
                                            "brandList": [
                                              {
                                                "id": 0
                                              }
                                            ]
                                          }
                                        ],
                                        "allowed_units": [
                                          {
                                            "id": "string",
                                            "name": "string"
                                          }
                                        ],
                                        "descriptionUnit": "string",
                                        "required": true,
                                        "translate_value_name": "string",
                                        "field": {
                                          "text_type": "string"
                                        }
                                      }
                                    ],
                                    "settings": {
                                      "max_pictures_per_item": 0,
                                      "max_pictures_per_item_var": 0,
                                      "catalog_domain": "string"
                                    },
                                    "domainId": "string"
[...]
